In [4]:
import pandas as pd

import datetime 
import ast
import json

In [5]:
# Para poder ver el contenido de todo el ancho de la columna
pd.set_option('display.max_colwidth', None)

In [6]:
##Leo el csv que cree previamente a partir del DS original y que llame Collections
dfcollect= pd.read_csv(r'C:\Users\flori\Desktop\DATA SCIENCE\LABS\Trabajos\Proyecto_Indiv_1_MLO_Henry\ETL\CSVNUEVOS\Collections.csv', sep=',')
dfcollect.head()

,id,belongs_to_collection
0,862,"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"
1,8844,NaN
2,15602,"{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}"
3,31357,NaN
4,11862,"{'id': 96871, 'name': 'Father of the Bride Collection', 'poster_path': '/nts4iOmNnq7GNicycMJ9pSAn204.jpg', 'backdrop_path': '/7qwE57OVZmMJChBpLEbJEmzUydk.jpg'}"

In [7]:
dfcollect.dropna(inplace=True)

In [8]:
# Para desanidar el diccionario en key y value creo una funcion.
# Esta funcion se aplica a un diccionario, recibe dos parametros y devuelve el valor asociado 
# por cada clave en el mismo. En el caso de que el tipo de dato no sea dict y sea str lo convierte 
# antes de extraer el valor. Una vez que el tipo de dato es dict devuelve la clave asociada a cada valor con get. 
# Devuelve None si el valor es nulo o si el valor no es ninguno de los anteriores.
def obtener_valor(diccionario, clave):
    if pd.isnull(diccionario):
        return None
    if not isinstance(diccionario, dict):
        try:
            diccionario = json.loads(diccionario.replace("'", "\""))
        except (json.JSONDecodeError, AttributeError):
            return None
    if isinstance(diccionario, dict):
        return diccionario.get(clave)
    else:
        return None

In [9]:
# Aplico la funcion a la columna belong_to_collection y creo una
dfcollect['ID'] = dfcollect['belongs_to_collection'].apply(lambda x: obtener_valor(x, 'id'))
dfcollect['NAME'] = dfcollect['belongs_to_collection'].apply(lambda x: obtener_valor(x, 'name'))
dfcollect['POSTER'] = dfcollect['belongs_to_collection'].apply(lambda x: obtener_valor(x, 'poster_path'))
dfcollect['BACKDROP'] = dfcollect['belongs_to_collection'].apply(lambda x: obtener_valor(x, 'backdrop_path'))

In [10]:
dfcollect.head()

,id,belongs_to_collection,ID,NAME,POSTER,BACKDROP
0,862,"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}",10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
2,15602,"{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}",119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
4,11862,"{'id': 96871, 'name': 'Father of the Bride Collection', 'poster_path': '/nts4iOmNnq7GNicycMJ9pSAn204.jpg', 'backdrop_path': '/7qwE57OVZmMJChBpLEbJEmzUydk.jpg'}",96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg
9,710,"{'id': 645, 'name': 'James Bond Collection', 'poster_path': '/HORpg5CSkmeQlAolx3bKMrKgfi.jpg', 'backdrop_path': '/6VcVl48kNKvdXOZfJPdarlUGOsk.jpg'}",645.0,James Bond Collection,/HORpg5CSkmeQlAolx3bKMrKgfi.jpg,/6VcVl48kNKvdXOZfJPdarlUGOsk.jpg
12,21032,"{'id': 117693, 'name': 'Balto Collection', 'poster_path': '/w0ZgH6Lgxt2bQYnf1ss74UvYftm.jpg', 'backdrop_path': '/9VM5LiJV0bGb1st1KyHA3cVnO2G.jpg'}",117693.0,Balto Collection,/w0ZgH6Lgxt2bQYnf1ss74UvYftm.jpg,/9VM5LiJV0bGb1st1KyHA3cVnO2G.jpg

In [11]:
columnas_a_eliminar = ['belongs_to_collection', 'POSTER', 'BACKDROP']
dfcollect2= dfcollect.drop(columns=columnas_a_eliminar)
dfcollect2.head()

       id        ID                            NAME
0     862   10194.0            Toy Story Collection
2   15602  119050.0       Grumpy Old Men Collection
4   11862   96871.0  Father of the Bride Collection
9     710     645.0           James Bond Collection
12  21032  117693.0                Balto Collection

In [12]:
#dfcollect2.dropna(inplace=True)????

In [13]:
dfcollect2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4466 entries, 0 to 44855
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      4466 non-null   int64
 1   ID      3153 non-null   float64
 2   NAME    3153 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 139.6+ KB

In [14]:
#me fijo cuantos nulos hay
dfcollect2.isnull().value_counts()

id     ID     NAME
False  False  False    3153
       True   True     1313
dtype: int64

In [15]:
#elimino nulos
#dfcollect3= dfcollect2.dropna()

In [16]:
#me fijo de vuelta
#dfcollect3.isnull().value_counts()
### NO HACE FALTA ELIMINAR NULOS!!!!!

In [17]:
dfcollect2.head()

       id        ID                            NAME
0     862   10194.0            Toy Story Collection
2   15602  119050.0       Grumpy Old Men Collection
4   11862   96871.0  Father of the Bride Collection
9     710     645.0           James Bond Collection
12  21032  117693.0                Balto Collection

In [18]:
#dfcollect2['ID'] = dfcollect2['ID'].astype(int)
#no me deja transformarlo por los nulos. Pero ni se si necesito la columna del ID de la collection

In [19]:
#dfcollect3['id'] = dfcollect3['id'].astype(int)
# hace falta transformarlo a INT=?????

In [20]:
dfcollect2.to_csv('CollectionsFinal.csv', index=False)

In [21]:
dfcollect2.shape

(4466, 3)