Mensaje que subieron para guiarnos

In [ ]:
@app.get('/peliculas_idioma/{idioma}')
def peliculas_idioma(idioma:str):
    '''Ingresas el idioma, retornando la cantidad de peliculas producidas en el mismo'''
    return {'idioma':idioma, 'cantidad':respuesta}
    
 @app.get('/peliculas_duracion/{pelicula}')
def peliculas_duracion(pelicula:str):
    '''Ingresas la pelicula, retornando la duracion y el año'''
    return {'pelicula':pelicula, 'duracion':respuesta, 'anio':anio}



@app.get('/franquicia/{franquicia}')
def franquicia(franquicia:str):
    '''Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio'''
    return {'franquicia':franquicia, 'cantidad':respuesta, 'ganancia_total':respuesta, 'ganancia_promedio':respuesta}

@app.get('/peliculas_pais/{pais}')
def peliculas_pais(pais:str):
    '''Ingresas el pais, retornando la cantidad de peliculas producidas en el mismo'''
    return {'pais':pais, 'cantidad':respuesta}

@app.get('/productoras_exitosas/{productora}')
def productoras_exitosas(productora:str):
    '''Ingresas la productora, entregandote el revunue total y la cantidad de peliculas que realizo '''
    return {'productora':productora, 'revenue_total': respuesta,'cantidad':respuesta}


@app.get('/get_director/{nombre_director}')
def get_director(nombre_director:str):
    ''' Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. 
    Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma. En formato lista'''
    return {'director':nombre_director, 'retorno_total_director':respuesta, 
    'peliculas':respuesta, 'anio':respuesta,, 'retorno_pelicula':respuesta, 
    'budget_pelicula':respuesta, 'revenue_pelicula':respuesta}

# ML
@app.get('/recomendacion/{titulo}')
def recomendacion(titulo:str):
    '''Ingresas un nombre de pelicula y te recomienda las similares en una lista'''
    return {'lista recomendada': respuesta}

In [17]:
import pandas as pd
import os

In [18]:
df_director= pd.read_csv('C:/Users/flori/Desktop/DATA SCIENCE/LABS/Trabajos/Proyecto_Indiv_1_MLO_Henry/ETL/DESANIDANDO/DirectorFUNCION.csv')
df_director.head()

,name,budget,release_date,revenue,title,return,return_dire
0,John Lasseter,30000000.0,1995-10-30,373554033.0,Toy Story,12.451801,27.654378
1,Joe Johnston,65000000.0,1995-12-15,262797249.0,Jumanji,4.043035,20.679024
2,Forest Whitaker,16000000.0,1995-12-22,81452156.0,Waiting to Exhale,5.090760,5.090760
3,Martin Campbell,58000000.0,1995-11-16,352194034.0,GoldenEye,6.072311,20.277275
4,Oliver Stone,44000000.0,1995-12-22,13681765.0,Nixon,0.310949,58.012846

In [31]:
df_duracion= pd.read_csv('DuracionFuncion.csv')
df_duracion.head()

                         title  runtime  release_year
0                    Toy Story     81.0        1995.0
1                      Jumanji    104.0        1995.0
2             Grumpier Old Men    101.0        1995.0
3            Waiting to Exhale    127.0        1995.0
4  Father of the Bride Part II    106.0        1995.0