In [1]:
import pandas as pd

In [3]:
#uso el DF de MoviesSMALL que tiene pocos datos
dfpelis= pd.read_csv(r'C:\Users\flori\Desktop\DATA SCIENCE\LABS\Trabajos\Proyecto_Indiv_1_MLO_Henry\ETL\A-ETLconsignas\MoviesSMALL.csv')
dfpelis.head()

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,title,release_year,return
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Toy Story,1995.0,12.451801
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Jumanji,1995.0,4.043035
2,0.0,15602,en,A family wedding reignites the ancient feud be...,11.712900,1995-12-22,0.0,101.0,Grumpier Old Men,1995.0,NaN
3,16000000.0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Waiting to Exhale,1995.0,5.090760
4,0.0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Father of the Bride Part II,1995.0,inf

In [8]:
def peliculas_duracion(pelicula: str):
    # Buscar la fila correspondiente a la película ingresada
    pelicula_info = dfpelis[dfpelis['title'] == pelicula]
    
    # Verificar si se encontró la película en el DataFrame
    if pelicula_info.empty:
        return None  # O un mensaje indicativo de que no se encontró la película
    
    # Obtener la duración y el año de la película
    duracion = pelicula_info['runtime'].values[0]
    anio = pelicula_info['release_year'].values[0]
    
    # Crear el diccionario de respuesta
    respuesta = {'pelicula': pelicula, 'duracion': duracion, 'anio': anio}
    
    return respuesta

In [9]:
resultado = peliculas_duracion('Toy Story')
print(resultado)

{'pelicula': 'Toy Story', 'duracion': 81.0, 'anio': 1995.0}