In [9]:
import pandas as pd

In [10]:
#uso el DF de MoviesSMALL que tiene pocos datos
dfpelis= pd.read_csv(r'C:\Users\flori\Desktop\DATA SCIENCE\LABS\Trabajos\Proyecto_Indiv_1_MLO_Henry\ETL\A-ETLconsignas\MoviesSMALL.csv')
dfpelis.head(1)

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,title,release_year,return
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Toy Story,1995.0,12.451801

In [11]:
# le dejo unicamente las columnas que voy a usar en la funcion
df_reducido = dfpelis[['title', 'runtime', 'release_year']]

In [12]:
df_reducido.head()

                         title  runtime  release_year
0                    Toy Story     81.0        1995.0
1                      Jumanji    104.0        1995.0
2             Grumpier Old Men    101.0        1995.0
3            Waiting to Exhale    127.0        1995.0
4  Father of the Bride Part II    106.0        1995.0

In [13]:
# lo guardo en un CSV y elimino el indice
df_reducido.to_csv('DuracionFuncion.csv', index=False)

In [14]:
def peliculas_duracion(pelicula: str):
    # Buscar la fila correspondiente a la película ingresada
    pelicula_info = df_reducido[df_reducido['title'] == pelicula]
    
    # Verificar si se encontró la película en el DataFrame
    if pelicula_info.empty:
        return None  # O un mensaje indicativo de que no se encontró la película
    
    # Obtener la duración y el año de la película
    duracion = pelicula_info['runtime'].values[0]
    anio = pelicula_info['release_year'].values[0]
    
    # Crear el diccionario de respuesta
    respuesta = {'pelicula': pelicula, 'duracion': duracion, 'anio': anio}
    
    return respuesta

In [15]:
resultado = peliculas_duracion('Toy Story')
print(resultado)

{'pelicula': 'Toy Story', 'duracion': 81.0, 'anio': 1995.0}