In [5]:
import pandas as pd

In [6]:
dfidiomas= pd.read_csv(r'C:\Users\flori\Desktop\DATA SCIENCE\LABS\Trabajos\Proyecto_Indiv_1_MLO_Henry\ETL\DESANIDANDO\LenguageCANTIDAD.csv')
dfidiomas.head()

  original_language  id
0                ab  10
1                af   2
2                am   2
3                ar  38
4                ay   1

In [11]:
## Creo una funcion para obtener la cantidad de peliculas en determinado idioma

def peliculas_idioma(idioma: str):
    # Filtrar el DataFrame para obtener las películas en el idioma dado
    peliculas_en_idioma = dfidiomas[dfidiomas['original_language'] == idioma]
    
    # Si no hay películas en el idioma dado, retornar None o un mensaje indicativo
    if peliculas_en_idioma.empty:
        return {'idioma': idioma, 'cantidad': 0}
    
    # Obtener la cantidad de películas en el idioma dado
    cantidad = peliculas_en_idioma['id'].sum()
    
    # Crear el diccionario de respuesta
    respuesta = {'idioma': idioma, 'cantidad': cantidad}
    
    return respuesta

In [12]:
# Ejemplo de uso de la función
resultado = peliculas_idioma('ru')
print(resultado)

{'idioma': 'ru', 'cantidad': 816}