In [1]:
import pandas as pd

In [4]:
dfpaises= pd.read_csv(r'C:\Users\flori\Desktop\DATA SCIENCE\LABS\Trabajos\Proyecto_Indiv_1_MLO_Henry\ETL\DESANIDANDO\PaisesCANTpelis.csv')
dfpaises.head()

          name  id_original
0          NaN         6081
1  Afghanistan            8
2      Albania            5
3      Algeria           13
4       Angola            3

In [13]:
def peliculas_pais(pais: str):
    # Filtrar el DataFrame para obtener las películas producidas en el país dado
    peliculas_en_pais = dfpaises[dfpaises['name'] == pais]
    
    # Si no hay películas en un pais dado, retornar None o un mensaje indicativo
    if peliculas_en_pais.empty:
        return {'No se encuentran peliculas realizadas en ese pais'}
    
    # Obtener la cantidad de películas producidas en el país
    cantidad = peliculas_en_pais['id_original'].sum()
    
    # Crear el diccionario de respuesta
    respuesta = {'pais': pais, 'cantidad': cantidad}
    
    return respuesta

In [16]:
# Ejemplo de uso de la función
resultado = peliculas_pais('Argentina')
print(resultado)

{'pais': 'Argentina', 'cantidad': 249}

In [17]:
# Ejemplo de uso de la función
resultado = peliculas_pais('United States of America')
print(resultado)

{'pais': 'United States of America', 'cantidad': 21015}