In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime 
import ast
import json

In [2]:
dfmovies3= pd.read_csv(r'C:\Users\flori\Desktop\DATA SCIENCE\LABS\Trabajos\Proyecto_Indiv_1_MLO_Henry\ETL\Primer_DF.csv')

In [3]:
dfmovies3.head()

,belongs_to_collection,genres,id,original_language,overview,popularity,production_companies,production_countries,runtime,spoken_languages,title,release_year,REVENUE,BUDGET,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,1995.0,373554033.0,30000000.0,12.451801
1,"{'id': 119050, 'name': 'Grumpy Old Men Collect...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,1995.0,0.0,0.0,NaN
2,"{'id': 96871, 'name': 'Father of the Bride Col...","[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,1995.0,76578911.0,0.0,inf
3,"{'id': 645, 'name': 'James Bond Collection', '...","[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",710,en,James Bond must unmask the mysterious head of ...,14.686036,"[{'name': 'United Artists', 'id': 60}, {'name'...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",GoldenEye,1995.0,352194034.0,58000000.0,6.072311
4,"{'id': 117693, 'name': 'Balto Collection', 'po...","[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",21032,en,An outcast half-wolf risks his life to prevent...,12.140733,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Balto,1995.0,11348324.0,0.0,inf

In [4]:
## genero nuevos archivos CSV de cada columna a desanidar para que sea mas ordenado

In [5]:
# Crear un nuevo DataFrame con las columnas deseadas
dfcollections = dfmovies3[["id", "belongs_to_collection"]]

# # Guardar el DataFrame en un archivo CSV
dfcollections.to_csv("Collections.csv", index=False)

In [6]:
# Crear un nuevo DataFrame con las columnas deseadas
dfgenre = dfmovies3[["id", "genres"]]

# # Guardar el DataFrame en un archivo CSV
dfgenre.to_csv("Genres.csv", index=False)

In [7]:
# Crear un nuevo DataFrame con las columnas deseadas
dfproduction = dfmovies3[["id", "production_companies", "production_countries"]]

# # Guardar el DataFrame en un archivo CSV
dfproduction.to_csv("Production.csv", index=False)

In [8]:
# Crear un nuevo DataFrame con las columnas deseadas
dflanguage = dfmovies3[["id", "original_language"]]

# # Guardar el DataFrame en un archivo CSV
dflanguage.to_csv("Language.csv", index=False)