In [1]:
import pandas as pd
import numpy as np
import ast
import json

In [2]:
dfpaises= pd.read_csv(r'C:\Users\flori\Desktop\DATA SCIENCE\LABS\Trabajos\Proyecto_Indiv_1_MLO_Henry\ETL\Production.csv')

dfpaises.rename(columns={'id':'id_original'}, inplace= True)

dfpaises.head()

,id_original,production_companies,production_countries
0,862,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o..."
1,8844,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o..."
2,15602,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o..."
3,31357,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o..."
4,11862,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o..."

In [15]:
dfpaises.shape

(45463, 3)

In [6]:
dfpaises.dropna(inplace=True)

In [7]:
dfpaises['production_countries'] = dfpaises['production_countries'].apply(ast.literal_eval)

In [10]:
df_explodedpais = dfpaises.explode('production_countries')

def extract_companies_info(x):
    if isinstance(x, dict):
        return pd.Series([x.get('name', ''),x.get('iso_3166_1', '')])
    else:
        return pd.Series(['', ''])

df_explodedpais[['name', 'iso_3166_1']] = df_explodedpais['production_countries'].apply(extract_companies_info)

In [11]:
df_explodedpais.head()

,id_original,production_companies,production_countries,name,iso_3166_1
0,862,"[{'name': 'Pixar Animation Studios', 'id': 3}]","{'iso_3166_1': 'US', 'name': 'United States of...",United States of America,US
1,8844,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","{'iso_3166_1': 'US', 'name': 'United States of...",United States of America,US
2,15602,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","{'iso_3166_1': 'US', 'name': 'United States of...",United States of America,US
3,31357,[{'name': 'Twentieth Century Fox Film Corporat...,"{'iso_3166_1': 'US', 'name': 'United States of...",United States of America,US
4,11862,"[{'name': 'Sandollar Productions', 'id': 5842}...","{'iso_3166_1': 'US', 'name': 'United States of...",United States of America,US

In [12]:
columnas_eliminar= ['production_companies', 'production_countries']
df_explodedpais.drop(columns=columnas_eliminar, inplace=True)

In [13]:
df_explodedpais.head()

  id_original                      name iso_3166_1
0         862  United States of America         US
1        8844  United States of America         US
2       15602  United States of America         US
3       31357  United States of America         US
4       11862  United States of America         US

In [14]:
df_explodedpais.to_csv('paisesIDpeli.csv', index=False)