In [1]:
import pandas as pd
import numpy as np
import ast
import json

In [2]:
pd.set_option('display.max_colwidth', None)

In [3]:
dfproduction= pd.read_csv(r'C:\Users\flori\Desktop\DATA SCIENCE\LABS\Trabajos\Proyecto_Indiv_1_MLO_Henry\ETL\Production.csv')

dfproduction.rename(columns={'id':'id_original'}, inplace= True)

dfproduction.head()

,id_original,production_companies,production_countries
0,862,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States of America'}]"
1,8844,"[{'name': 'TriStar Pictures', 'id': 559}, {'name': 'Teitler Film', 'id': 2550}, {'name': 'Interscope Communications', 'id': 10201}]","[{'iso_3166_1': 'US', 'name': 'United States of America'}]"
2,15602,"[{'name': 'Warner Bros.', 'id': 6194}, {'name': 'Lancaster Gate', 'id': 19464}]","[{'iso_3166_1': 'US', 'name': 'United States of America'}]"
3,31357,"[{'name': 'Twentieth Century Fox Film Corporation', 'id': 306}]","[{'iso_3166_1': 'US', 'name': 'United States of America'}]"
4,11862,"[{'name': 'Sandollar Productions', 'id': 5842}, {'name': 'Touchstone Pictures', 'id': 9195}]","[{'iso_3166_1': 'US', 'name': 'United States of America'}]"

In [4]:
dfproduction.shape

(44936, 3)

In [5]:
dfproduction.dropna(inplace=True)

In [6]:
dfproduction.shape

(44936, 3)

In [7]:
dfproduction['production_companies'] = dfproduction['production_companies'].apply(ast.literal_eval)

In [8]:
df_explodedprod = dfproduction.explode('production_companies')

def extract_companies_info(x):
    if isinstance(x, dict):
        return pd.Series([x.get('name', ''),x.get('id', '')])
    else:
        return pd.Series(['', ''])

df_explodedprod[['name', 'id']] = df_explodedprod['production_companies'].apply(extract_companies_info)

In [9]:
df_explodedprod.head()

,id_original,production_companies,production_countries,name,id
0,862,"{'name': 'Pixar Animation Studios', 'id': 3}","[{'iso_3166_1': 'US', 'name': 'United States of America'}]",Pixar Animation Studios,3
1,8844,"{'name': 'TriStar Pictures', 'id': 559}","[{'iso_3166_1': 'US', 'name': 'United States of America'}]",TriStar Pictures,559
1,8844,"{'name': 'Teitler Film', 'id': 2550}","[{'iso_3166_1': 'US', 'name': 'United States of America'}]",Teitler Film,2550
1,8844,"{'name': 'Interscope Communications', 'id': 10201}","[{'iso_3166_1': 'US', 'name': 'United States of America'}]",Interscope Communications,10201
2,15602,"{'name': 'Warner Bros.', 'id': 6194}","[{'iso_3166_1': 'US', 'name': 'United States of America'}]",Warner Bros.,6194

In [10]:
columnas_eliminar= ['production_companies', 'production_countries']
df_explodedprod.drop(columns=columnas_eliminar, inplace=True)

In [11]:
df_explodedprod.shape

(81660, 3)

In [12]:
df_explodedprod.head()

   id_original                       name     id
0          862    Pixar Animation Studios      3
1         8844           TriStar Pictures    559
1         8844               Teitler Film   2550
1         8844  Interscope Communications  10201
2        15602               Warner Bros.   6194

In [13]:
df_explodedprod.to_csv('EstudiosIDpeli.csv', index=False)

In [14]:
df_explodedprod.shape

(81660, 3)

In [15]:
#df_explodedprod[['id_original','name']].groupby('name').value_counts()
## no le hago group by