In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime 
import ast
import json

In [47]:
pd.set_option('display.max_colwidth', None)

In [48]:
dflenguage= pd.read_csv(r'C:\Users\flori\Desktop\DATA SCIENCE\LABS\Trabajos\Proyecto_Indiv_1_MLO_Henry\ETL\Language.csv')
dflenguage.head()

      id original_language
0    862                en
1  15602                en
2  11862                en
3    710                en
4  21032                en

In [49]:
lenguage_original = dflenguage['original_language'].unique().tolist()
print(lenguage_original)

['en', 'ru', 'fr', 'bn', 'ja', 'wo', 'cn', 'it', 'da', 'es', 'de', 'pt', 'zh', 'hu', 'sv', 'pl', 'tr', 'fi', 'cs', 'hi', 'el', 'he', 'th', 'fa', 'ko', 'no', 'uk', 'nl', 'id', '104.0', 'nb', 'ar', 'pa', '68.0', 'et', 'te', 'ml', '82.0', 'ta', 'sr']

In [50]:
len(lenguage_original)

40

In [83]:
# Ejemplo de cómo usar 'groupby()':
grouped_data = dflenguage.groupby(dflenguage['original_language'])

In [87]:
# Si deseas realizar una operación de agregación en los grupos, por ejemplo, obtener la suma de los valores de 'id':
sum_of_ids_by_language = grouped_data.value_counts()

In [88]:
print(sum_of_ids_by_language)

original_language  id
104.0              1997-08-20    1
68.0               2012-09-29    1
82.0               2014-01-01    1
ar                 215407        1
bn                 5801          1
                                ..
zh                 104606        1
                   11647         1
                   119892        1
                   120143        1
                   98344         1
Length: 4488, dtype: int64

Desanido la columna del lenguage para saber el codigo iso

In [ ]:
### no hace falta desanidarrrrr!

In [7]:
def convertir_columna_diccionarios_a_dataframe(df, columna):
    # Obtener la columna que contiene los diccionarios
    column_data = df[columna]

    # Convertir los diccionarios a listas de diccionarios
    lista_diccionarios = column_data.apply(lambda x: eval(x) if pd.notna(x) else [])

    # Filtrar y eliminar los valores booleanos
    lista_diccionarios = [d for sublist in lista_diccionarios if isinstance(sublist, list) for d in sublist]

    # Crear el DataFrame resultante y seleccionar las columnas deseadas
    df_lenguage = pd.DataFrame(lista_diccionarios, columns=['iso_639_1', 'name'])

    return df_lenguage

# Aplicar la función al DataFrame y obtener el DataFrame resultante
df_lenguage = convertir_columna_diccionarios_a_dataframe(dflenguage, 'spoken_languages')

# Mostrar las primeras filas del DataFrame resultante
df_lenguage.head()

  iso_639_1     name
0        en  English
1        en  English
2        en  English
3        en  English
4        ru  Pусский

In [8]:
idioma= df_lenguage['name'].unique().tolist()
print(idioma)

['English', 'Pусский', 'Español', 'Magyar', 'Deutsch', 'Română', 'Bahasa indonesia', 'Bahasa melayu', 'Français', '', 'Polski', 'svenska', 'Latin', '日本語', 'Italiano', '广州话 / 廣州話', 'Český', 'বাংলা', 'العربية', 'Wolof', 'ภาษาไทย', 'Português', 'עִבְרִית', 'ελληνικά', 'suomi', 'Український', '普通话', 'Dansk', 'Türkçe', 'Afrikaans', 'Íslenska', '한국어/조선말', 'Norsk', 'Tiếng Việt', 'Nederlands', 'shqip', 'Gaeilge', 'اردو', 'Slovenčina', 'Esperanto', 'isiZulu', 'Català', 'हिन्दी', 'Hrvatski', 'Kiswahili', 'Srpski', 'فارسی', 'български език', 'ਪੰਜਾਬੀ', 'No Language', 'తెలుగు', 'euskera', 'Eesti', 'தமிழ்', 'Galego', 'Latviešu']

In [9]:
lista_codigo= df_lenguage['iso_639_1'].unique().tolist()
print(lista_codigo)

['en', 'ru', 'es', 'hu', 'de', 'ro', 'id', 'ms', 'fr', 'mi', 'pl', 'sv', 'la', 'ja', 'it', 'cn', 'cs', 'bn', 'ar', 'wo', 'th', 'pt', 'he', 'ne', 'el', 'fi', 'uk', 'zh', 'da', 'tr', 'af', 'is', 'ko', 'no', 'si', 'vi', 'nl', 'sq', 'gd', 'ga', 'ur', 'sk', 'sh', 'eo', 'oc', 'zu', 'ca', 'hi', 'hr', 'iu', 'sw', 'sr', 'fa', 'tl', 'yi', 'mn', 'my', 'sa', 'tt', 'bg', 'pa', 'gu', 'mr', 'xx', 'jv', 'br', 'te', 'eu', 'et', 'ml', 'ta', 'gl', 'lv', 'km']

In [10]:
len(idioma)

56

In [11]:
len(lista_codigo)

74

In [26]:
df_lenguage.shape

(5960, 2)

In [27]:
#cambio el nombre de la columna para poder unirlos
df_lenguage1 = df_lenguage.rename(columns={'iso_639_1': 'codigo'})

In [22]:
#df_idioma = pd.merge(dflenguage, df_lenguage, left_index=True, right_index=True

In [23]:
dflenguage2 = dflenguage.drop(columns=['spoken_languages'])
dflenguage2.head()

      id original_language
0    862                en
1  15602                en
2  11862                en
3    710                en
4  21032                en

In [25]:
#cambio el nombre de la columna para poder unirlos
dflenguage22 = dflenguage2.rename(columns={'original_language': 'codigo'})
dflenguage22.shape

(4491, 2)

In [44]:
df_idioma2.shape

(10107297, 3)