In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime 
import ast
import json

In [5]:
pd.set_option('display.max_colwidth', None)

In [6]:
dfgenres= pd.read_csv(r'C:\Users\flori\Desktop\DATA SCIENCE\LABS\Trabajos\Proyecto_Indiv_1_MLO_Henry\ETL\Genres.csv')
dfgenres.head()

,id,genres
0,862,"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"
1,15602,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]"
2,11862,"[{'id': 35, 'name': 'Comedy'}]"
3,710,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}]"
4,21032,"[{'id': 10751, 'name': 'Family'}, {'id': 16, 'name': 'Animation'}, {'id': 12, 'name': 'Adventure'}]"

In [8]:
def desanidar_generos(genres):
    """
    Desanida los géneros contenidos en una lista de diccionarios.

    Args:
        genres (list): Lista de diccionarios que representan los géneros.

    Returns:
        tuple: Una tupla que contiene dos listas: genero_id y genero_nombre.

    """
    genero_id = []
    genero_nombre = []
    for genero in genres:
        genero_id.append(genero['id'])
        genero_nombre.append(genero['name'])
    return genero_id, genero_nombre

# Aplicar la función desanidar_generos a la columna 'genres'
generos_desanidados = dfgenres['genres'].apply(lambda x: desanidar_generos(eval(x)))

# Crear un nuevo DataFrame a partir de los géneros desanidados
dfgeneros = pd.DataFrame(generos_desanidados.tolist(), columns=['ID_Genero', 'Genero'])

# Explotar las columnas para que cada fila tenga un solo género
dfgeneros = dfgeneros.apply(pd.Series.explode)

# Reiniciar el índice del DataFrame
dfgeneros = dfgeneros.reset_index(drop=True)

# Mostrar las primeras filas del nuevo DataFrame
dfgeneros.head()

  ID_Genero     Genero
0        16  Animation
1        35     Comedy
2     10751     Family
3     10749    Romance
4        35     Comedy

In [9]:
dfgeneros.shape

(11156, 2)

In [10]:
dfgeneros.to_csv('GenerosFinal.csv', index=False)