In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime 
import ast
import json

In [42]:
pd.set_option('display.max_colwidth', None)

In [43]:
dflenguage= pd.read_csv(r'C:\Users\flori\Desktop\DATA SCIENCE\LABS\Trabajos\Proyecto_Indiv_1_MLO_Henry\ETL\Language.csv')
dflenguage.head()

      id original_language
0    862                en
1  15602                en
2  11862                en
3    710                en
4  21032                en

In [44]:
lenguage_original = dflenguage['original_language'].unique().tolist()
print(lenguage_original)

['en', 'ru', 'fr', 'bn', 'ja', 'wo', 'cn', 'it', 'da', 'es', 'de', 'pt', 'zh', 'hu', 'sv', 'pl', 'tr', 'fi', 'cs', 'hi', 'el', 'he', 'th', 'fa', 'ko', 'no', 'uk', 'nl', 'id', '104.0', 'nb', 'ar', 'pa', '68.0', 'et', 'te', 'ml', '82.0', 'ta', 'sr']

In [45]:
len(lenguage_original)

40

In [46]:
# Reemplazo los valores numero por Nulo
dflenguage['original_language'].replace('82.0', None, inplace=True)
dflenguage['original_language'].replace('68.0', None , inplace=True)
dflenguage['original_language'].replace('104.0', None , inplace=True)

In [47]:
# elimino Nulos
dflenguage.dropna()

          id original_language
0        862                en
1      15602                en
2      11862                en
3        710                en
4      21032                en
...      ...               ...
4486   24568                en
4487   19307                en
4488   21251                en
4489  460135                en
4490  182030                zh

[4488 rows x 2 columns]

In [48]:
#cuento cuantos hay de cada uno y los ordeno
grouped = dflenguage[['id','original_language']].groupby('original_language').count()
grouped.sort_values(by= 'id', ascending=False)

                     id
original_language
en                 3111
ja                  368
fr                  168
it                  149
ru                  102
de                   96
cn                   83
sv                   80
hi                   46
zh                   40
da                   40
fi                   36
es                   29
ko                   19
pl                   17
pt                   16
no                   15
tr                   15
th                    9
bn                    9
nl                    7
fa                    4
he                    4
id                    3
hu                    3
ta                    3
te                    3
ml                    2
cs                    2
uk                    2
nb                    1
pa                    1
el                    1
sr                    1
et                    1
wo                    1
ar                    1

Desanido la columna del lenguage para saber el codigo iso

In [49]:
### no hace falta desanidarrrrr!